In [3]:
# Dependencies
import numpy as np
import pandas as pd
import datetime as dt
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, jsonify

In [118]:
import datetime as dt
import numpy as np
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, desc

from flask import Flask, jsonify

In [119]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [120]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [122]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
year = 2017
month = 6
start_date = dt.date (year, month, 1)
end_date = dt.date(year, month, 30)

prev_month = dt.date(2017, 6, 1) + dt.timedelta(days=29)

results = []
results = session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date >= start_date, Measurement.date <= end_date).\
    order_by(Measurement.date).all()
#print(results)

In [123]:
#  3. Convert the June temperatures to a list.
temps = list(np.ravel(results))
#print(temps)

In [124]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['date', 'temperature'])
df.set_index('date', inplace=True)
#print(df.to_string(index=False))

In [125]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       temperature
count   191.000000
mean     77.219895
std       2.622538
min      71.000000
25%      75.000000
50%      77.000000
75%      79.000000
max      83.000000

## D2: Determine the Summary Statistics for December

In [126]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_year = 2016
dec_month = 12
dec_start_date = dt.date (dec_year, dec_month, 1)
dec_end_date = dt.date(dec_year, dec_month, 31)

dec_results = []
dec_results = session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date >= dec_start_date, Measurement.date <= dec_end_date).\
    order_by(Measurement.date).all()
#print(dec_results)

In [127]:
# 7. Convert the December temperatures to a list.
dec_temps = list(np.ravel(dec_results))
#print(temps)

In [128]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_results, columns=['date', 'temperature'])
dec_df.set_index('date', inplace=True)
#print(df.to_string(index=False))

In [129]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       temperature
count   200.000000
mean     71.130000
std       3.419292
min      60.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      78.000000